@model ShopWatch.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Manager orders</h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
    <div class="col-lg-4 p-l-0 title-margin-left">
        <div class="page-header">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Home</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>


<div class="col-lg-12">
    <div class="card alert">
        <div class="card-header">
            <div>
                <h4>Order</h4>
                <hr />
                <dl class="dl-horizontal">
                    @*<dt>
                        @Html.DisplayNameFor(model => model.User.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.User.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StaffID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StaffID)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderEmail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderEmail)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderPhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderPhone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderAddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderNote)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderNote)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalMoney)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TotalMoney)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Payment_method)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Payment_method)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
            </div>
        </div>
    </div>
