<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop-Watch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Asset/css/open-iconic-bootstrap.min.css">

    <link rel="stylesheet" href="~/Asset/css/animate.css">

    <link rel="stylesheet" href="~/Asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Asset/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Asset/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Asset/css/aos.css">

    <link rel="stylesheet" href="~/Asset/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Asset/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Asset/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Asset/css/flaticon.css">
    <link rel="stylesheet" href="~/Asset/css/icomoon.css">
    <link rel="stylesheet" href="~/Asset/css/style.css">
    @*toastr*@
    <link href="~/Content/toastr.css" rel="stylesheet" />



</head>
<body class="goto-here">
    <div class="py-1 bg-primary">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">(+84)362343226</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">hua.hieu@hcl.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">Say no to Fake products &amp; Poor quality products</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        int quantity = 0;
        //HttpCookie CookieCart = new HttpCookie("CookieCart");

        HttpCookie cookie = Request.Cookies["CookieCart"];
        if (cookie == null)
        {
            quantity = 0;
        }
        else
        {
            var carts = Request.Cookies["CookieCart"].Value;

           

           // var proValue = Server.UrlDecode(carts);
            var base64EncodedBytes = System.Convert.FromBase64String(carts);
            var cartItem = System.Text.Encoding.UTF8.GetString(base64EncodedBytes);


            var qtts = cartItem.Split('#');

            //var base64EncodedBytes = System.Convert.FromBase64String(proValue);
            //var cartItem = System.Text.Encoding.ASCII.GetString(base64EncodedBytes);


            quantity = qtts.Length - 1;
        }




        //if (HttpContext.Current.Session["ShoppingCart"] != null)
        //{
        //    quantity = ((List<ShopWatch.Models.Cart>)HttpContext.Current.Session["ShoppingCart"]).Count;
        //}

    }

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">X-Watch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/Product/ViewProduct" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/Product/ViewProduct">Shop</a>
                            <a class="dropdown-item" href="wishlist.html">Wishlist</a>
                            <a class="dropdown-item" href="product-single.html">Single Product</a>
                            <a class="dropdown-item" href="cart.html">Cart</a>
                            <a class="dropdown-item" href="checkout.html">Checkout</a>
                        </div>
                    </li>*@
                    <li class="nav-item"><a href="/Product/ViewProduct" class="nav-link">Shop</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    <li class="nav-item cta cta-colored"><a href="/Cart/ShoppingCart" class="nav-link"><span class="icon-shopping_cart"></span>[@quantity]</a></li>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-user"></span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            @if (Session["User"] == null)
                            {
                                <a class="dropdown-item" href="/Home/Login">Login</a>
                                <a class="dropdown-item" href="/Home/Register">Register</a>
                            }
                            else
                            {
                                <p> Hi, 
                                    @Session["Name"]
                                </p>
                                <a class="dropdown-item" href="/Home/Logout">Logout</a>
                                <a class="dropdown-item" href="/Checkout/Getorder">My Order</a>
                                <a class="dropdown-item" href="/Cart/Favorite">My Favorite</a>
                                <a class="dropdown-item" href="/Home/EditProfile">My Profile</a>
                            }


                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    @if (Session["Message"] != null && !Session["Message"].Equals(""))
    {
        <div class="alert alert-success alert-dismissible " id="SessionMessage">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@Session["Message"]</strong>
        </div>Session["Message"] = "";
    }
    @RenderBody()
    @*<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
            <div class="container py-4">
                <div class="row d-flex justify-content-center py-5">
                    <div class="col-md-6">
                        <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                        <span>Get e-mail updates about our latest shops and special offers</span>
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                        <form action="#" class="subscribe-form">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control" placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>*@
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Vegefoods</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Shop</a></li>
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Journal</a></li>
                            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Help</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">FAQs</a></li>
                                <li><a href="#" class="py-2 d-block">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">643 Pham Van Dong Street, Co Nhue Ward, North Tu Liem District, Ha Noi, VIETNAM </span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">(+84)362343226</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">hua.hieu@hcl.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://myaccount.microsoft.com/?ref=MeControl" target="_blank">Hieu HUA</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/Asset/js/jquery.min.js"></script>
    <script src="~/Asset/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Asset/js/popper.min.js"></script>
    <script src="~/Asset/js/bootstrap.min.js"></script>
    <script src="~/Asset/js/jquery.easing.1.3.js"></script>
    <script src="~/Asset/js/jquery.waypoints.min.js"></script>
    <script src="~/Asset/js/jquery.stellar.min.js"></script>
    <script src="~/Asset/js/owl.carousel.min.js"></script>
    <script src="~/Asset/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Asset/js/aos.js"></script>
    <script src="~/Asset/js/jquery.animateNumber.min.js"></script>
    <script src="~/Asset/js/bootstrap-datepicker.js"></script>
    <script src="~/Asset/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Asset/js/google-map.js"></script>
    <script src="~/Asset/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr.js"></script>


    <script>
        $(function () {
            if ($('#success').val()) {
                displayMessage($('#success').val(), 'success');
            }
            if ($('#info').val()) {
                displayMessage($('#info').val(), 'info');
            }
            if ($('#warning').val()) {
                displayMessage($('#warning').val(), 'warning');
            }
            if ($('#error').val()) {
                displayMessage($('#error').val(), 'error');
            }
        });
        var displayMessage = function (message, msgType) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "onClick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "8000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[msgType](message);
        };
    </script>
    <script>
        $('#SessionMessage').delay(3000).fadeOut('slow');
    </script>



    @RenderSection("scripts", required: false)
</body>
</html>
