
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="col-lg-12">
    <form action="/Admin/Mn_Product/Edit/@Model.Product.ProductID" method="post">
        <div class="card alert">
            <div class="card-header">
                <h2>Edit product @Model.Product.ProductName</h2>
                @*<img style="height:200px;" src="~/Asset/img/@Model.Product.ProductImage" />*@
                @*<h5 style="float:right;">Information product</h5>*@
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="col-lg-6 p-r-0 title-margin-right">
                        <div class="form-group">
                            <label>Name product</label>
                            <input type="text" name="ProductName" id="" class="form-control" value="
                   @Model.Product.ProductName" aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" name="Price" id="" class="form-control" value="
                   @Model.Product.Price" style="color:red;" aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" name="Amount" id="" class="form-control" value="
                   @Model.Product.Amount" aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Price old</label>
                            <input type="text" name="PriceOld" id="" class="form-control" value="
                    @Model.Product.PriceOld" aria-describedby="helpId">

                        </div>
                        @*<div class="form-group">
                            <label>Price old</label>
                            <input type="text" name="" id="" class="form-control" value="
                           @ViewBag.nameCategory.NameCategory" aria-describedby="helpId">

                        </div>*@



                    </div>
                    <div class="col-lg-6 p-l-0 title-margin-right">
                        <div class="form-group">
                            <label>Brand</label>
                            <input type="text" name="" id="" class="form-control" value="
                            @Model.ProductInformation.Brand" aria-describedby="helpId">
                            @*<select class="form-control" name="" id="">
                                @foreach (var i in ViewBag.manu)
                                {
                                    <option value="@i.Name">@i.Name</option>
                                }
                            </select>*@





                        </div>
                        <div class="form-group">
                            <label>Origin</label>
                            <input type="text" name="Origin" id="" class="form-control" value="
                        @Model.ProductInformation.Origin" aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" name="Type" id="" class="form-control" value="
                        @Model.ProductInformation.Type " aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Thickness</label>
                            <input type="text" name="Thickness" id="" class="form-control" value="
                        @Model.ProductInformation.Thickness" aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Shell material</label>
                            <input type="text" name="Shell_material" id="" class="form-control" value="
                        @Model.ProductInformation.Shell_material" aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Strap material</label>
                            <input type="text" name="Strap_material" id="" class="form-control" value="
                        @Model.ProductInformation.Strap_material" aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Glass material</label>
                            <input type="text" name="Glass_material" id="" class="form-control" value="
                        @Model.ProductInformation.Glass_material" aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Water resistance</label>
                            <input type="text" name="Water_resistance" id="" class="form-control" value="
                        @Model.ProductInformation.Water_resistance" aria-describedby="helpId">

                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" name="Sex" id="">
                                <option value="@Model.ProductInformation.Sex">  @Model.ProductInformation.Sex</option>
                                @if (Model.ProductInformation.Sex == "Male")
                                {
                                    <option value="Female"> Female</option>
                                }
                                @if (Model.ProductInformation.Sex == "Female")
                                {
                                    <option value="Male"> Male</option>
                                }
                                <option value="Orther">Orther</option>
                            </select>
                            @*<input type="text" name="" id="" class="form-control" value="
                            @Model.ProductInformation.Sex" aria-describedby="helpId">*@

                        </div>
                    </div>
                </div>

            </div>
            <div class="cart-footer">
                <a href="/Admin/Mn_Product/ShowProduct" class="btn btn-info">Back</a>
                <button type="submit" class="btn btn-primary" >Save</button>
            </div>
        </div>
    </form>

</div>


